<% let idBase64 = btoa(id) %>
<div id="<%= idBase64 %>" class="section center-align">
    <h4><%= title %></h4>
    <h6><%= date_published %>
    <% tags.forEach(tag => { %>
        <div class="chip"><%= tag %></div>        
    <% }); %>
    </h6>

  <div class="divider"></div>
  <p class="left-align"><%= content_text %></p>

    <a class="waves-effect waves-light btn modal-trigger blue-grey lighten-3 hoverable" href="blog/#<%= idBase64 %>">继续阅读</a>


</div>
